<h4 class="sub-title">All Comments:</h4>
{{#each comments}}
<div class="row mt-3">
  <div class="comment-container">
    <p class="posted-comment">{{text}}</p>
    <p class="posted-time">{{createdAt}}</p>
  </div>
</div>
{{/each}}
