
<div class="container mt-5 landing-page-container">
  <h1 class="landing-page-title">Welcome to the Movie Database</h1>
    <p class="landing-page-description"> Browse and search our collection of over 45,000 movies. Leave comments and explore the world of cinema with us. </p>
      <a class="btn btn-primary btn-lg browse-movies-button browse-movies-button:hover" href="/movies">Browse Movies</a>
      </div>